* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.background {
  background-color: #278d25;
  width: 100vw;
  height: 100vh;
  border: #1c671b solid 5px;
  padding: 0 25px;
}

.car {
  width: 10%;
  position: absolute;
}
